@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

body {
  font-family: "Shippori Antique B1", sans-serif;
}

button {
  margin: 2rem;
  padding: 1rem 0 1rem 0;
  border: none;
  border-radius: 0.2rem;
  width: 8rem;
  font-size: large;
  font-family: "Shippori Antique B1", sans-serif;
  letter-spacing: 1.5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  color: black;
}

.search {
  background-color: black;
  color: #f4f4f4;
}

.search:hover {
  background-color: #f4f4f4;
  color: black;
}

.clear:hover {
  background-color: black;
  color: #f4f4f4;
}

.keyword-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.keyword-search {
  width: 100%;
  height: 2rem;
}

table {
  width: 55vw;
  border-collapse: collapse;
  margin: 10px;
  max-width: 100%;
}

.table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: left;
}

th,
td {
  padding: 8px 18px;
  text-align: left;
  border: 1px solid black;
}

th {
  background-color: #f4f4f4;
}

ul {
  list-style: none;
  padding: 0.125rem;
  display: inline-block;
  width: 15rem;
}

ul input[type="checkbox"] {
  margin-right: 0.25rem;
}

@media (max-width: 768px) {
  #root {
    padding: 1rem;
  }

  .button-container {
    display: flex;
  }

  table {
    width: 100%;
  }

  ul {
    width: auto;
  }
}
